{
  "presets": [
    ["env", { "modules": false }],
    "react",
    "stage-0"
  ],
  "plugins":[
    "transform-decorators-legacy",
    "transform-object-assign",
    [
      "transform-runtime",
      {
        "polyfill":false,
        "regenerator":true
      }
    ]
  ],
  "comments": false
}
